@import url('../../../style.css');

#button4 {
    box-shadow: 0 0 40px 40px var(--primary-color1) inset;
    border: 1px solid var(--primary-dark);
    transition: all 500ms ease-in-out;
}

#button4:hover {
    box-shadow: 0 0 0px 0px var(--primary-color2) inset;
}